.mt-toolbar {
	height: 40px;
	background-color: #48525e;
	border-bottom: none;
	padding: 0;
}

.mt-toolbar .container {
	width: 96% !important;
	min-width: 980px;
	max-width: 1256px;
	margin: 0 auto;
}

.logo-text {
	height: 40px;
	line-height: 40px;
	font-size: 2.0rem;
	font-family: SimHei;
	color: #FFFFF0;
}

.panel-head {
	/*background-color: #f5f5f5;*/
	height: 29px;
	line-height: 29px;
	padding-left: 11px;
	color: #333;
	font-weight: bold;
}

#body {
	width: 96% !important;
	min-width: 980px;
	max-width: 1256px;
	margin: 0 auto;
	margin-bottom: 40px;
	margin-top: 3vh;
	background-color: #CDBA96;
	/*height: 100vh;*/
}

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
h1{
  font:400 40px 'pt sans',sans-serif;
  text-align:center;
}
.nav1 a{
  text-decoration:none;
}
.nav1{
  height:40px;
  background:#338c8a;
  position:relative;
}
 ul li{
list-style-type:none;
}
.headstyle{
	font:400 20px 'pt sans',sans-serif;
    text-align:left;
	background:#4eb1aa;
	height:33px;
	color:#fff;
	padding-top:5px;
	padding-left:10px;
	position:relative;
}
.titlestyle{
	margin-left:10px;
}
.bodystyle{
	background:#e8f7f9;
	padding-top:5px;
	padding-left:10px;
	height:560px;
}
.bodystyle1{
	background:#fff;
	padding-top:5px;
	margin-right:10px;
	padding-left:10px;
	height:110px;
}
.bodystyle2{
	background:#fff;
	margin-top:5px;
	margin-right:10px;
	padding-top:5px;
	padding-left:10px;
	height:350px;
}
.nav1>ul{
  position:relative;
  list-style:none;
  padding:0;
  margin:0;
}
.nav1>ul>li>ul{
  position:absolute;
  left:0;
  padding:0;
  margin:0;
  list-style:none;
}
.nav1>ul>li:hover>ul li a{
  opacity:1;
  height:40px;
   transition:all .3s linear;
  -o-transition:all .3s linear;
  -moz-transition:all .3s linear;
  -webkit-transition:all .3s linear;
}
.nav1>ul>li>ul a{
  display:block;
  color:#222;
  width:150px;
  line-height:40px !important;
  font:700 14px 'pt sans',sans-serif;
  background:#e8f7f9;
  border-bottom:1px solid #ddd;
  text-align:center;
  padding:0 5px;
   height:0;
  overflow:hidden;
  opacity:0;
    transition:all .3s linear .2s;
  -o-transition:all .3s linear .2s;
  -moz-transition:all .3s linear .2s;
  -webkit-transition:all .3s linear .2s;
}
.nav1>ul>li{
  float:left;
  position:relative;
}
.nav1>ul>li>a{
  padding-left:30px;
  color:#fff;
  display:block;
  line-height:40px !important;
  font:400 15px 'PT Sans', sans-serif;
  text-transform:uppercase;
  text-decoration:none;
}
.lamp span{
  display:block;
  height:4px;
  background:#ee6666;
  position: relative;
}
.lamp span:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(238, 102, 102, 0);
	border-bottom-color: #ee6666;
	border-width: 4px;
	margin-left: -4px;
}
.lamp{
  position:absolute !important;
  height:4px;
  top:66px;
  background:#333;
  transition:all .3s linear;
  -o-transition:all .3s linear;
  -moz-transition:all .3s linear;
  -webkit-transition:all .3s linear;
}
.selected.active>a,.active>a{
  transition:all .3s linear;
  -o-transition:all .3s linear;
  -moz-transition:all .3s linear;
  -webkit-transition:all .3s linear;
  color:#fff;
}
.credit{
  text-align:center;
  margin:20px 0;
}
.blog-link{
color:#fff;
text-decoration:none;
background:#eee;
background-size:40px;
line-height:50px;
display:inline-block;
padding:0 10px;
border-radius:4px;
border-bottom:3px solid #ddd;
color:#333;
font-family:'open sans',sans-serif;
margin:10px;
}
.dgithub{
color:#fff;
text-decoration:none;
background:#eee url('https://lh6.googleusercontent.com/-MOW-T0KLZJI/UyR6EIggYkI/AAAAAAAAEbM/el92Uoxz-aI/s50-no/GitHub-Mark.png') no-repeat;
background-size:40px;
line-height:50px;
display:inline-block;
padding:0 10px 0 50px;
background-position:5px;
border-radius:4px;
border-bottom:3px solid #ddd;
color:#333;
font-family:'open sans',sans-serif;
margin:10px;
}

.col-md-3 .username {
	font-size: 1.7rem; 
	font-weight: bold; 
	width: 100%; 
	text-align: center; 
	margin-top: 2vh;
}

.blog-text {
	background-color: #CDB38B; 
	height: 90vh;
}

.comment {
	margin-top: 10px;
	background-color: #FFFAFA;
	padding: 20px 30px;
	font-family: microsoft yahei;
	font-size: 1.5rem;
}

.panel-comment {
	height: 29px;
	line-height: 29px;
	color: #333;
	font-weight: bold;
	border-bottom: 2px solid #CFCFCF;
	margin-bottom: 10px;
}

.comment-ul {
	margin: 0 0 0 29px;
	
}

.left {
	float: left;
	text-align: left;
	width: 80px;
}

.right {
	text-align: left;
	margin-left: 90px;
}

.comment-content {
	min-width: 90%;
	max-height: 120px;
	padding: 5px;
	color: #555555;
	border: 1px solid #CDC9C9;
	font-size: 1.4rem;
}

.comment-ul li {
	margin-bottom: 10px;
}

.comment-ul .btn {
	padding: 5px 40px;
	margin: 5px 10px 10px 90px;
	color: #303030;
}

.comment-ul .btn:hover {
	color: #303030;
}

.nav-tabs li a{
	cursor: pointer;
}

.menu1 a {
	
}

.blog-title {
	margin-top: 6px;
	font-size: 2.0rem;
	background-color: #FFFAFA;
	font-weight: bold;
	font-family: Microsoft JhengHei;
}

.comment-li {
	display: block;
	
}

.cmleft {
	float:left; 
	width: 100%; 
	text-align: left;
}

.cmright {
	float: right;
}

.cm_show {
	float:left; 
	width: 100%; 
	text-align: left;
	margin-bottom: 10px;
	padding-bottom: 3px;
	border-bottom: 1px solid #CDC9C9;
}

.search-input {
	height: 38px;
	border-radius: 20px 0 0 20px;
}

.center-input-group {
	width: 90% !important;
	margin: 10px 9% 10px 1% !important;
}

.search-btn {
	width: 100px;
	/*
	border-radius: 0 20px 20px 0;
	*/
}

.home-user-name {
	background-color: #F0F0F0;
	float: left;
	cursor: pointer;
	color: #EE2C2C;
	height: 38px;
	line-height: 38px;
}

.search-title {
	background-color: rgba(0,0,0,0);
	color: #0A0A0A;
	font-size: 1.5rem;
	font-weight: bold;
	border-color: rgba(0,0,0,0);
	padding: 10px;
}

.recommend {
	font-size: 1.7rem;
	color: #030303;
	text-align: left;
}

.recommend-blog-title {
	background-color: rgba(0,0,0,0);
	color: #0A0A0A;
	font-size: 1.5rem;
	font-weight: bold;
	border-color: rgba(0,0,0,0);
}

.recommend-blog-content {
	width: 100%;
	border-bottom: 1px solid #969696;
}

.access_count {
	float: right;
	font-size: 1.0rem;
	color: #636363;
	padding: 3px;
}

.tohome {
	text-align: right;
	height: 40px;
	line-height: 40px;
	font-size: 2.0rem;
	font-family: SimHei;
	color: #FFFFF0;
}

.common-input {
	height: 35px;
	border-radius: 5px;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	border: 1px solid #ccc;
	box-shadow: insert 0 1px 1px;
}

.common-span {
	height: 34px;
	line-height: 34px;
	font-size: 1.4rem;
}

.common-a {
	float: left;
	margin-left: 20px;
	height: 34px;
	line-height: 34px;
}

.common-button {
	float: left; 
	margin: 20px 10px; 
	color: #0A0A0A;
	width: 30%;
}